.input_text 
	display block
	overflow hidden
	margin-top 6px

	&__label
		float left
		margin-right 18px
		font-weight bold
		font-size 22px
		margin-top 30px
		
	&__box
		display block
		overflow hidden
		
		input
			background-color transparent
			background-image url('../images/underline.png')
			background-position left bottom
			background-repeat no-repeat
			display block
			width 100%
			font-family 'Courier New'
			font-size 30px
			color #231f20
			padding 12px 12px 8px
			border none