a
	color #014f98
	
	&:hover
		color #980101

.index
	color #2f1b15
	font-family 'PT Sans', sans-serif

	&__group
		margin-bottom 20px

	&__arrow
		margin-top 84px

		+mobile()
			margin-top 20px
			margin-bottom 20px

	&__title
		text-align center
		margin-right 33px
		

fieldset
	font-size 22px	
	display block
	border none
	padding 30px 0
	
.label
	font-weight bold
	
	span&
		margin-right 14px
		display inline-block
		
	div&
		margin-bottom 10px