include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../list/list
include ../col/col
include ../arrow/arrow
include ../fork/fork
include ../tree/tree
include ../textbox/textbox
include ../radiobutton/radiobutton
include ../checkbox/checkbox
include ../slider/slider
include ../fieldset/fieldset

mixin index()
	.index
		.index__title
			img(src='assets/images/title.png')

		form.personal-data
			+fieldset()
				+textbox('Полное ФИО')(value='Каринский Сергей Александрович')
				+textbox('Год рождения')(value='1992')
				+textbox('Место жительства')(value='г. Бийск, Алтайский край')
				+textbox('Скайп')(value='desker.name')
				+textbox('Почта')(value='karinsky.name@gmail.com')

			+fieldset()
				span.label
					|Выпускник 
					a(href='http://htmlacademy.ru' target='_blank')
						|htmlacademy.ru

				+radiobutton('Да')(name='academy')
				+radiobutton('Нет')(name='academy' checked)

			+fieldset()
				.label= 'Практические навыки'
				+container()
					+col(class='col-1-3')
						+checkbox('Методология БЭМ')(name='skills')
						+checkbox('jQuery')(name='skills' checked)
						+checkbox('Использую GRUNT')(name='skills')
						+checkbox('HAML')(name='skills')
						+checkbox('SASS')(name='skills')
						+checkbox('LESS')(name='skills' checked)
						+checkbox('CoffeeScript')(name='skills')

					+col(class='col-1-3')
						+checkbox('Jade')(name='skills' checked)
						+checkbox('Stylus')(name='skills')
						+checkbox('Знаю (изучаю) Angular')(name='skills')
						+checkbox('Верстка под Android')(name='skills' checked)
						+checkbox('Верстка под iOS')(name='skills' checked)
						+checkbox('Верстка под Windows Phone')(name='skills')

					+col(class='col-1-3')
						+checkbox('Верстка рассылок')(name='skills' checked)
						+checkbox('Адаптивная верстка')(name='skills' checked)
						+checkbox('Использую Dropbox')(name='skills')
						+checkbox('Использую Gmail')(name='skills' checked)
						+checkbox('Использую GitHub')(name='skills' checked)

			+fieldset()
				.label Уровень владения JavaScript
				+slider([
					[0, 'Не владею'],
					['20%', 'Использую готовые решения'],
					['50%', 'Использую готовые решения и умею их переделывать'],
					['100%', 'Пишу сложные скрипты']
				])

			+fieldset()
				+textbox('Дата заполнения')(value='03.11.2015' style='width: 210px;')