include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../list/list
include ../col/col
include ../arrow/arrow
include ../fork/fork
include ../tree/tree
include ../form/form

mixin index()
	.index
		.index__title
			img(src='assets/images/title.png')