a
	color #014f98
	
	&:hover
		color #980101

.index
	&__group
		margin-bottom 20px

	&__arrow
		margin-top 84px

		+mobile()
			margin-top 20px
			margin-bottom 20px

	&__title
		text-align center
		margin-right 33px
		

.label
	font-weight bold
	
	span&
		margin-right 14px
		display inline-block
		
	div&
		margin-bottom 10px
		
@media (max-width: 1024px)
	.label
		font-size 18px