.main
	margin-left auto
	margin-right auto
	padding 48px 120px 0 110px
	box-sizing border-box
	max-width 1000px
	width 100%
	font-size 16px
	background-color #efce9b
	background-image url('../images/paper.jpg')

	&::selection
		background-color #ffffd0

	+mobile()
		padding-top 40px
		padding-bottom 0
		border-radius 0
		box-shadow none

@media (max-width: 1024px)
	.main
		padding 20px 60px 0
		font-size 14px
		
@media (max-width: 750px)
	.main
		padding 20px 20px 0
		font-size 14px