.logo
  width 154px
  height 59px
  background url('../images/logo.png')
  float left
  margin-top 12px
  margin-left -65px

@media (max-width: 1024px)
  .logo
    margin-left 0
    
@media (max-width: 750px)
  .logo
    margin-top 120px
    position absolute
    left 50%
    margin-left -77px
    top 20px