.header
  padding-bottom 30px
  height 136px

	&__title
		margin-bottom 20px

.secret 
  float right
  background-image url('../images/secret.png')
  width 252px
  height 106px
  margin-right -67px
  
@media (max-width: 1024px)
  .secret
    margin-right 0
    
@media (max-width: 750px)
  .header
    height 200px

  .secret
    position absolute
    left 50%
    margin-left -126px
    top 20px